<h2>New Pokemon</h2>

<form action="/pokemons" method="post" >
  <label>Name:</label>
  <input name="pokemon[name]"></br>

  <label>CP:</label>
  <input name="pokemon[cp]"></br>
  

  <input type="submit" value="Create">
</form>
