<h2><a href="/pokemons"> Pokemon Result</a></h2>
<div class="pokemon">

  <p>Pokemon Name: <%= @pokemon.name %></p>
  <p>Pokemon CP: <%= @pokemon.cp %></p>
  <p><a href='/pokemons/<%= @pokemon.id %>/edit'>Edit this Pokemon</a></p>
</div>
